*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --dark-primary:#1b1f24;
    --dark-secondary:#22202F;
    --primary:#12bdff;
}


body{
    font-family: 'Nunito sans',sans-serif;
}

html{
     scroll-behavior: smooth; 
}

a{
    list-style: none;
}

@keyframes slidefromleft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateY(0);
    }
}
header{

background-color: var(--dark-primary);
   padding: 20px; 
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  align-items: center;
  gap: 20px 20px;
  animation: 1s ease-in-out 0s 1 slidefromleft; 
  /* position: fixed;
  width: 100%; */
}

.navbar-fixed{

      position: sticky; 
     width: 100%;
     background-color:var(--dark-secondary);
     color: #fff;
     top: -1;
     left: 0;
     right: 0;
     z-index: 999;
     

}
 

 .nav-toggle{
    display: none;
    /* background-color: #fff;      */
    /* color: #fff; */
    width: 42px;
    height: 43px;
    border-radius: 2px;
    margin-left: 120px;
 }
 
header h2{
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 1px;
}
h2 > span{
    color: var(--primary);
}
ul{
    display: flex;
    list-style: none;
    /* position: relative; */

}

/* ul li a::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: var(--primary);

}

ul a::hover::after{
    width: 100%;
} */

ul > li{
    margin-right: 15px;
}


ul li a{
    text-decoration: none;
    color:#fff
}

ul li a:hover{
   
     color: var(--primary); 
     transition: all 0.3s;
}


 /*buttons*/

 .btn{

    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    border: none;
 }

 .btn.btn-primary{
    background-color: var(--primary);
    font-weight: 600;
    
 }

 .btn.btn-primary:hover{
    background-color: #1599ce;
 }

 .btn-dark-outlined{
    background: var(--dark-primary);
    border: 1px solid var(--primary);
    cursor: pointer;
    color: var(--primary);
    border-radius: 5px;
    font-weight: bold;
 }
 .btn-dark-outlined:hover{

      color: #fff;
      background-color: var(--primary);
      transition: all 0.3s ease-in;

 }

 .hero-buttons button{
    margin-right: 10px;
 }




                             /*hero-home-page*/

section.hero-section{
 
     background-color: var(--dark-primary);
     display: flex;
     align-items: center;
     padding: 100px 150px 0px 200px;
     color: #fff;
     height: 100vh;
}

.hero-section--tittle{
    font-size: 48px;
    font-weight: 900;
}
.hero-section > h4 span{
    color: var(--primary);
}
.hero-section--desc{
    color: #c4c4c4;
}
.hero-buttons a{
    text-decoration: none;
}

.social-icons{
    margin:20px 0;
}

.social-icons li > i{

    transform: scale(0.5);
    /* filter: invert(1); */

}

.social-icons > li > a > i:hover{

    transform: translateY(-5px);
    transition: all 0.3s;
}

@keyframes slide-bck-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(-400px);
              transform: translateZ(-400px);
    }
  }
.hero-section img{
    animation: 1s ease-in-out 0s 1 slide-bck-center;
}



                                  /*about-page*/

.about-section{

    background-color:var(--dark-secondary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.about-section img{

    padding-top: 10px;
    border: 2px solid var(--primary);
    border-radius: 50%;
    border-top: 10px;
    box-shadow: 2px 3px 10px var(--primary);
}



.about-section--desc{
    margin-left: 100px;
    max-width: 450px;
    /* animation: 1s ease-in-out 0s 1 slidefromright; */
}

.about-section--desc h4{
    font-size: 30px;
}

.about-section--desc ol{
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.about-section--desc li{
    padding-bottom: 10px;
    color: grey;
}

.about-section--desc li>a{
    text-decoration: none;
    color: grey;
}

.about-section--desc li>a:hover{
    color: var(--primary);
}

.about-section--desc li > strong{
    color: #fff;
}

.about-section--desc h4 > span{
    color: var(--primary);
}

                                 /*my work section*/

.work-section{
    background-color: var(--dark-primary);
    text-align: center;
    padding: 50px;
    height: 100vh;
   
}       

.work-section-items{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    animation: slide-right;
}

.reveal{
      position: relative;
      transform: translateY(150px);
      opacity: 0;
      transition: all 2s ease;

}
.reveal.active{

    transform: translate(0px);
    opacity: 1;

}
.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  

.work-section h4{
    color: #fff;
    font-size: 20px;
}

.work-section h4 > span{

    color: var(--primary);
}
.work-section-box{  
   background-color: var(--dark-secondary);
   padding: 30px;
   max-width: 300px;
   text-align: left;
   border-radius: 10px;
   cursor: pointer;
   display: flex;
   margin-right: 50px;
   justify-content: space-between;
   transition: all 0.4s ease-in;
   position: relative;
   align-items: center;
   z-index: 2;
  

}

.work-section-box::before,
.work-section-box::after
{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--dark-secondary);
    z-index: -1;
    transition:0.5s;
    border-radius: 3px;

}

.work-section-box:hover::before{

     transform: rotate(20deg);
}
.work-section-box:hover::after{

    transform: rotate(10deg);
}
/* .work-section-box:hover{

    background-color: #1a1a22;
} */

.work-section-box p{
    color: grey;
    font-size: 16px;    
   
}

.work-section-box h4{
    color: #fff;
}
.work-section-box a{
    text-decoration: none;
    display: block;
    color: #03678f;
    margin-top: 10px;
}

.work-section-box--desc{
    margin-top: 20px;
    margin-bottom: 10px;
}

.work-section-box--desc > p{
    margin-top: 5px;
}

.work-section-box--icon{
    background-color: var(--primary);
    width: max-content;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
}


.work-section-box--icon:hover{
    background-color: #1599ce;
}



                                /*Contact page*/


.contact-section{
    background-color: var(--dark-secondary);
    padding: 40px;
    color: #fff;
    text-align: center;
}

.contact-section form div > input,textarea {

    padding: 8px 5px;
    outline: none;
    width: 300px;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
    resize: none;
    font-family: inherit;
}
      
.contact-section h4{
    font-size: 20px;
    margin: 20px 0;
    font-weight: 900;
}
.contact-section h4 > span{
    color: var(--primary);
}

 /*Footer page*/

 footer{
    background-color: var(--dark-primary);
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
 }

 /*Media Queries for responsive*/

 @media only screen and (max-width: 600px) {
   header{
    /* flex-direction: column; */
    /* align-items: flex-start; */
    padding: 10px 5px;
    animation: none;
    /* padding: 30px; */
   }

   header button{
     display: none;
   }
   header .nav-toggle{
    display: block;
    font-size: 1.3rem;
    color:#fff;
    padding: 14px;
    transition: all 0.3s;
    
   }
   header .nav-toggle > i{
    width: 50px;
 }
   header .nav-toggle:hover{
    color: var(--primary);
    transition: all 0.3s ease;
   }
    header ul{
        display: none;
        position: fixed;
        background-color: var(--primary);
        top: -100%;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 3;
    }

    .show{
        display: block;
        top:64px;
        text-align: center;
        transition: all 0.3s ease-in-out;
    }
    .hidden{
        display: none;
    }
    header ul > li {
        padding: 1.7rem;
      
    }

    header ul > li a {

        color: var(--dark-secondary);
        font-weight: 600;
    }
   
    header ul > li a:hover{
        color: #fff;
    }

     header button:hover{
        background-color: var(--dark-primary);
        color: var(--primary);
     }

   header > *{
      /* margin-bottom: 10px; */
   }
    header  h2{
        font-size:14px;
    }
   section.hero-section{
    flex-direction: column;
    padding: 10px 20px;
    height: 100%;
    
   }
   section.hero-section  h2{
    /* background-color: red; */
      font-size: 25px;
   }

   section.hero-section  h4{

    /* background-color: red; */
    font-size: 14px; 

   }
   section.hero-section p{
      font-size: 14px;
      margin-top: 5px;
   }
   section.hero-section img{

    margin-top: 10px;
    margin-right: 30px;

   }

   section.hero-section--contents{
     top: 50%;
   }

     /*about- section*/

   section.about-section{
    flex-direction: column;
    height: 100%;

   }


    /*work-section*/

    section.work-section{
        height: 100%;
    }
   .work-section-items{
    flex-direction: column;
    align-items: center;
   }
   .work-section-box{
    margin-bottom: 10px;
    max-width: 100%;
   }

    /*contact-section*/

    .contact-section form input,textarea{
        width: 100%;
    }
   footer{
    padding: 10px 0;
    font-size: 12px;
   }
  }

